<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="AWSAccessKey" value="AKIAJH4D6MZZAFWDJCIA" />
    <add key="AWSSecretKey" value="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" />
    <add key="ClientSettingsProvider.ServiceUri" value="https://sqs.us-west-2.amazonaws.com" />
  </appSettings>
</configuration>